<?php

$vendorDir = dirname(__DIR__) . '/vendor';

if (!@include($vendorDir . '/.composer/autoload.php')) {
    die('You must set up the project dependencies, run the following commands:
    wget http://getcomposer.org/composer.phar
    php composer.phar install
');
}

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();

$loader->registerNamespaces(array(
    // With this the namespace folder "My"
    // shoud reside on the "src" folder, so
    // register your namespaces this way
    'My' => dirname(__DIR__) . '/src/',
));

$loader->register();
