<?php

require dirname(__DIR__) . '/vendor/.composer/autoload.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();

$loader->registerNamespaces(array(
    // With this the namespace folder "My"
    // shoud reside on the "src" folder, so
    // register your namespaces this way
    'My' => dirname(__DIR__) . '/src/',
));

$loader->register();